# Environment variables
.env
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Virtual environments
condaenv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
